@import '../../variables.scss';

.pageBar {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: $blue-green-gradient ;
    position: relative;

    .backBtn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        font-size: 2.25rem;
        cursor: pointer;
    }

    h3.pageTitle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $black;
    }

    .settingsBtn {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        font-size: 1.25rem;
        color: $black;
    }
}