@import './variables.scss';

.App {
    background: $blue-green-gradient;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1, h2, h3, h4, p {
        color: $black;
    }

    &.darkMode {
        background-color: #515151;

        h1, h2, h3, h4, p {
            color: $off-white;
        }
    }
}