// Colors
$black: #202020;
$dark-gray: #515151;
$off-white: #E7E7E7;
$green: #00e36a;
$blue: #00d4ff;
$red: #FF4F4F;

// Gradients
$blue-green-gradient: linear-gradient(135deg, rgba(0,227,106,1) 0%, rgba(0,212,255,1) 100%);

// Transitions
$transition3: 0.3s ease all;

$navBarHeight: 60px;
$pageTopBarHeight: 40px;